<html>
<head>
    <title>Blood donor eligibility</title>

<!--  link to styles here!  -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Blood Donor Eligibility</h1>

<!--content will go here-->

<!-- footer will contain closing tags for html & body-->